<mat-toolbar color="primary" class="navigation-bar">
    <mat-nav-list>
        @if (showHome()) {
        <a mat-list-item routerLink="/">
            <mat-icon matListItemIcon>home</mat-icon>
            <span matListItemTitle>Home</span>
        </a>
        }
        <a mat-list-item routerLink="/items">
            <mat-icon matListItemIcon>category</mat-icon>
            <span matListItemTitle>Items</span>
        </a>
        <a mat-list-item routerLink="/files">
            <mat-icon matListItemIcon>file_present</mat-icon>
            <span matListItemTitle>Files</span>
        </a>
        <a mat-list-item routerLink="/markdowns">
            <mat-icon matListItemIcon>wysiwyg</mat-icon>
            <span matListItemTitle>Markdowns</span>
        </a>
        <a mat-list-item [matMenuTriggerFor]="menu">
            <mat-icon matListItemIcon>account_circle</mat-icon>
            <span matListItemTitle>You</span>
        </a>
    </mat-nav-list>
</mat-toolbar>

<mat-menu #menu="matMenu">
    @if (authStateService.hasRole("admin")) {
    <button mat-menu-item routerLink="/users" routerLinkActive="active-link">
        <mat-icon>manage_accounts</mat-icon>
        <span>Users</span>
    </button>
    }
    <button mat-menu-item routerLink="/change-password">
        <mat-icon>key</mat-icon>
        <span>Change password</span>
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Sign out</span>
    </button>
</mat-menu>